<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/SmartParking.css') }}" rel="stylesheet">


 

</head>
<body>
	<div class="contentImage">
		<div class="contentDialog">
			<h1 class="titleDialog">Selecteaza zona</h1>
				<div class="dropdownBox">
  					<button class="dropdownButton">Verifica parcare</button>
  						<div class="dropdownMenu">
    						<a href="#">Copou</a>
    						<a href="#">Tudor Vladimirescu</a>
    						<a href="#">Palas</a>
  						</div>
				</div>

		</div>

	</div>
</body>
</hmtl>